* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  width: 100vw;
  background-image: url('img/back-blur.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#main-section {
  height: 85vh;
  width: 100vw;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#bottom-section {
  background-color: aliceblue;
  width: 100vw;
  height: 15vh;
}

#left-section {
  margin: 20px;
  width: 25%;
  height: 95%;
  background-color: grey;
  filter: opacity(50%);
}

#middle-section {
  margin: 20px;
  width: 50%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
}

#middle-top {
  width: 100%;
  height: 25%;
  background-color: grey;
  filter: opacity(50%);
 margin-bottom: 20px; 
}

#middle-bottom {
  width: 100%;
  height: 75%;
  background-color: grey;
  filter: opacity(50%);
  text-align: center;
  
  /* margin: 20px; */
}

#box-middle {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
}

#right-section {
  margin: 20px;
  padding: 10px;
  width: 25%;
  height: 95%;
  background-color: grey;
  filter: opacity(50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}


#right-section-top{
  width: 95%;
  height: 9%;
  border-radius: 40px;
  margin: 3%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dot-dot-dot {
  width: 16%;
  height: 100%;
  border: 3px solid white;
  border-width: 4px 4px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dot-dot-dot > i {
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  font-weight: 1000;
  
}

.purchase-option {
  width: 95%;
  height: 9%;
  border: 3px solid white;
  border-width: 2px 4px;
  border-radius: 40px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row-reverse;
}

.purchase-option > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.purchase-option > i {
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
#btn-list {
  width: 20%;
  height: 60%;
  background-color: rgba(128, 128, 128, 0.5);
  border: 3px solid white;
  border-width: 2px 4px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

#btn-list > i {
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}


#middle-bottom h1 {
  text-align: center;
  margin: 5px;
}

.new-house {
  width: 60%;
  height: 60%;
  border: 3px solid white;
  margin-left: 20px;
  margin-right: 20px;
}

#left-head {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

/* #left-head h2 {
  background-color: rgb(122, 224, 122);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 40px;
} */

#left-buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

}

#left-buttons button {
  font-size: 26px;
  margin-bottom:20px;
  width: 240px;
  height: 45px;
  border: 2px solid white;
  border-radius: 100px;
  background-color: transparent;
  
}

#left-buttons button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.5s ease-in-out;
}

#left-head img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 40px;
}

#left-text {
  border: 1px solid white;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12%;
}

#left-text p {
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}






